@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/slider.jpg);
  background-position: center;
  background-size: cover;
  object-fit:contain;
  color:white;
  flex-direction: column; 
height: 300px;
  
}
.title{display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  flex-direction: column;

}
.title p{
  font-size: 24px; /* Augmenter la taille de la police */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ajouter une ombre pour améliorer le contraste */
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.competences {
  text-align: center;
  display: flex;
  color: white;
  background-color: #333;
  padding: 30px;
  gap: 20px;
  border-radius: 10px; /* Ajout de coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout d'une transition pour l'effet de survol */
}

.competences:hover {
  transform: translateY(-10px); /* Légère élévation au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.competences h2 {
  font-size: 1em; /* Augmenter la taille de la police */
  color: #fff; /* Couleur blanche pour le texte */
  margin-bottom: 20px; /* Ajouter un espace en bas */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  letter-spacing: 2px; /* Espacement entre les lettres */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajouter une ombre au texte */
}

.html{
  flex-direction: column;
  text-align: center;
}

.css{
  flex-direction: column;
  text-align: center;
}

.js{
  flex-direction: column;
  text-align: center;
}

.react{
  flex-direction: column;
  text-align: center;
}
.node{
  flex-direction: column;
  text-align: center;
}
.rea{
  text-align: center;
  
  
}
.creation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: black;
}
.realisations{
  color: white;
  background-color: #333;
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 
gap:5px;
text-align: center;
}
footer{
  color:white;
  background-image: url("./image/slider.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
  object-fit: cover;
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  gap:50px;
}
.value img{
  
 
  border-radius: 50%;
  background-color: transparent;
}
.dark{
  margin-top: 30px;
  gap:2px;
  
}
@media(max-width:1260px){
 .realisations{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 } 
 .competences{
  flex-direction: column;
 }
}
@media(max-width:516px){
 .title{
  position: relative;
  top: 50px;
  padding: 20px;
  color: rgb(247, 241, 241);
  font-size: 24px; /* Augmenter la taille de la police */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ajouter une ombre pour améliorer le contraste */
 }
 .section{
 padding:0;
 margin-top:40px;
 margin-bottom: 40px;
 } 
 .competences{
padding:20px;
 }
}